# 🧱 Dependencias de Node.js
client/node_modules/
backend/node_modules/

# ⚙️ Builds o distribuciones
client/dist/
client/build/
backend/dist/
backend/build/


# 🔒 Variables de entorno
client/.env
backend/.env
.env

# 📦 Archivos de lock (opcional si se regeneran en cada instalación)
 package-lock.json
 yarn.lock

backend/node_modules
client/node_modules
node_modules

